// ** Responsiveness of application
@mixin mobile {
  @media screen and (max-width:480px){
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 720px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

/**
* Todo: styling for Login and Register From component
**/
.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gray;

  .form__wrapper {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;

    .logo {
      font-size: 25px;
      font-weight: bold;
      font-style: italic;
      padding-bottom: 7px;
    }

    .title {
      font-size: 15px;
      font-weight: 500;
      padding-bottom: 10px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        width: 250px;
        padding: 15px;
        border: none;
        border-bottom: 1px solid gainsboro;
        &::placeholder {
          color: rbg(200, 200, 200);
          font-size: 15px;
        }
      }

      button {
        margin: 5px 0;
        cursor: pointer;
        padding: 10px;
        font-weight: bold;
        font-size: 15px;
        background-color: rgb(89, 197, 233);
        border: none;
        border-radius: 5px;
      }
    }
  }
}

/**
* ! styling for Home page component
**/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7bcff;
  height: 100vh;

  .container {
    border: 2px solid lightblue;
    display: flex;
    justify-content: center;
    height: 90%;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
    // Todo: styling for SidebarPanel component 
    .sidebar__panel{
      position: relative;
      overflow-y: scroll;
      &::-webkit-scrollbar{
        display: none;
      }
      flex: 1;
      background-color:rgb(71, 69, 121);

      // todo: styling for SidebarPanel => Navbar component
      .navbar {
        position: sticky;
        top:0;
        left: 0;
        
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(47, 45, 82);
        color: white;
        padding: 10px;
        .logo {
          display: flex;
          align-items: center;
          i{font-size: 30px;}
        }
        .user {
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 15px;
          img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            font-size: 17px;
            font-style: italic;
            text-shadow: 1px 1px 0 #a7bcff;
          }
          button {
            border: none;
            padding: 5px;
            background-color: rgb(240, 132, 128);
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
      // todo: styling for SidebarPanel => SearchBox Component
      .search__box {
        border-bottom:1px solid gray;
        .search__form {
          display: flex;
          align-items: center;
          i{
            padding-left: 10px;
            font-size: 16px;
            color: rgba(197, 189, 189, 0.582);
          }
          input{
            padding: 10px;
            border: none;
            background-color: inherit;
            outline: none;
            font-size: 16px;
            color: white;
            &::placeholder{
              color: rgba(197, 189, 189, 0.582);
            }
          }
        }
      }

      .user__chat{
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        color: white;
        cursor: pointer;
        &:hover{
          background-color: #2f2d52;
        }

        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover; 
        }

        .chat__info{
          span {
            font-size: 18px;
            font-weight: 500;
            font-style: italic;
          }
          p{
            margin: 0;
            font-size: 14px;
            color: rgb(201, 210, 212);
          }
        }
      }
      
    }

    // Todo: styling for ChatPanel component
    .chat__panel {
      flex: 2;
      background-color: #333335;

      // todo: styling for chat top panel part => user info
      .chat__top--panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 10px;

        .top__panel--left {
          display: flex;
          align-items: center;
          gap:10px;
          color: lightgray;
          img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          span{
            font-weight: 500;
            font-size: 18px;
          }
        }

        .top__panel--right{
          display: flex;
          align-items: center;
          gap:10px;
          i{ 
            color:#ddddf7;
            cursor: pointer;
            font-size: 20px;
            padding: 5px;
          }
          
        }
      }

      // todo: styling for chat panel middle part => all chat texts
      .message__container {
        background-color: #ddddf7;
        padding: 10px;
        height: calc(100% - 160px);
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 10px;
            background-color: #ddddf7;
        }
        &::-webkit-scrollbar-thumb {
          background-color:rgb(71, 69, 121);
          min-height: 30px;
          height: 40px;
          border-radius: 5px;
        }

        .message {
          display: flex;
          flex-direction: row;
          gap:20px;
          margin-bottom: 20px;

          .message__info{
            display: flex;
            flex-direction: column;
            color:gray;
            font-weight: 300;
            img{
              height: 40px;
              width: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .message__content{
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap:10px;
            p{
              background-color: #c7c7d4;
              padding: 10px 20px;
              border-radius: 0 13px 13px 13px;
              max-width: max-content;
            }
            img{ 
              width: 50%;
            }
          }

          &.owner { 
            flex-direction: row-reverse;
            .message__content {
              align-items: flex-end;
              p {
                background-color: #629ae4;
                padding: 10px 20px;
                border-radius: 13px 0 13px 13px;
              }
            }
          }
        }
      }


      // todo: styling for chat panel bottom part => message sending part
      .input__box{
        height: 50px;
        padding: 10px;
        background-color: #333335;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
          width: 100%;
          padding: 10px;
          background-color: transparent;
          outline: none;
          font-size: 17px;
          border: none;
          color:white;
          &::placeholder{
            color:#c7c7d4;
          }
        }

        .send{
          display: flex;
          align-items: center;
          gap:10px;

          i{ 
            font-size: 30px;
            color:white;
            cursor: pointer;
          }

          button {
            padding: 7px 15px;
            background-color: #88a2fa;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
  }
}
